* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #fefefe;
    font-family: sans-serif;
  }
  
  .container {
    width: 90%;
    margin: 50px auto;
  }
  .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  .card {
    width: 20%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
  }
  
  .card-header {
    text-align: center;
    padding: 10px 10px;
    background: rgb(0, 110, 255);
    color: #fff;
  }
  
  .card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: rgb(0, 110, 255);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
  }

  .card-biodata {
    width: 50%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
  }
  
  .card-header-biodata {
    text-align: center;
    padding: 10px 10px;
    background: rgb(0, 110, 255);
    color: #fff;
  }
  
  .card-body-biodata {
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .card-biodata .row .socialMedia i{
    font-size: 	35px;
    padding: 0 15px;
    color: 	darkgrey;
    margin-top: 13px;
    transition: .2s
  }
  .card-biodata .row .socialMedia i:hover{
    transform: scale(1.2);
    color: #03a9f4;
  }
  form {
    max-width: 600px;
    background: rgb(22, 102, 250);
    margin: 0 auto;
    padding: 20px 40px;
    color: white;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 25px;
  }
input[type='text'],
input[type='email'],
input[type='number'],
select,
textarea {
  
  display: block;
  margin-top: 10px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 0;
  padding: 10px;
  font-family: inherit;
}

.slideshow{
  border: 0;
  margin: 0 auto;
}

.box-slideshow{
    margin: auto;
    margin-top: 10px;
    width: 60%;
    border: 3px solid #017ff5;
    padding: 10px;
  
}